* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.app {
  display: flex;
  height: 100vh;
  background: #f3f4f6;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: #1e293b;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar p {
  margin-bottom: 10px;
  font-size: 14px;
}

.menu span {
  display: block;
  padding: 10px;
  margin-top: 10px;
  background: #334155;
  border-radius: 6px;
  cursor: pointer;
}

/* Chat Section */
.chat-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  background: white;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.chat-body {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.msg {
  max-width: 65%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  line-height: 1.5;
}

.msg.user {
  background: #2563eb;
  color: white;
  margin-left: auto;
}

.msg.bot {
  background: #e5e7eb;
  color: black;
}

/* Input */
.chat-input {
  display: flex;
  padding: 15px;
  background: white;
  border-top: 1px solid #5e3a3a;
}

.chat-input input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #653c3c;
  font-size: 16px;
}

.chat-input button {
  margin-left: 10px;
  padding: 12px 20px;
  background: #162341;
  color: rgb(129, 106, 106);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
